<h3>Update User Information</h3>

<% unless @update_worked %>

  <div id="errors">
   <h3>Errors</h3>
     <ul>
      <% @user.errors.messages.each do |field, error| %>
      <li><%= "#{field.capitalize} #{error.first}!" %></li>
      <% end %>
     </ul>
  </div>

<% end %>

<%= render "form" %>