<!-- Waiting to implement search by geo-location -->

<div>
  <%= link_to "STEP 1: Enter Your Search Location", areas_path %>
  <span class="welcome-icons"><%= link_to (image_tag "icon_31913.png", width: '150'), areas_path %></span>
  <%= link_to "STEP 2: Enter Your Search Criteria", listings_path %>
  <span class="welcome-icons"><%= link_to (image_tag "icon_27273.png", width: '150'), listings_path %></span>
</div>
