<h3>Choose Your Desired NYC Area!</h3>

<ul>
  <% @areas.find_all do |area| %>
    <% case area.level %>
      <% when 1 %>
      <li>
        <%= link_to "#{area.title}", area_path(area) %>
      </li>
    <% end %>
  <% end %>
</ul>