<h3>Choose part of <%= @area.title %></h3>

<ul>
  <% @areas.each do |area| %>
    <% case area.se_parent_id %>
      <% when @area.se_id %>
      <li>
        <%= link_to "#{area.title}", area_path(area) %>
      </li>
    <% end %>
  <% end %>
</ul>